<html>
    <meta charset="utf-8">
    <meta name="language" content='en'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js " integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin=" anonymous "></script>
    <title>News | Feed </title>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="headwrap">
            <div class="logo">
                <i class="fa fa-globe" aria-hidden="true"></i> News | Feed
            </div>
            <div class= 'bor' >
                <ul class= 'menu'><li><a href="/"> World</a></li>
                <span class='border'></span>
                <li><a href="/tehno">Technology</a></li>
                <span class='border'></span>
                <li><a href="/earth">Earth</a></li>
                <span class='border'></span>
                <li><a href="/sport">Sport</a></li>
                <span class='border'></span>
                {{#if session}}
                <li><a href="/logout"> Logout</a></li>
                {{else}}
                 <li><a href="/login"> Login</a></li>
                <span class='border'></span><li><a href="/regis">Register</a></li></ul>
                {{/if}}
            </div>
            </div>
        </header>
        {{{body}}}

    </div>
    
<script src='/assets/function.js'></script>
</body>


</html>

